[package]
name = "k8s-controller"
version = "0.1.1"
edition = "2021"

description = "lightweight framework for writing kubernetes controllers"
repository = "https://github.com/MaterializeInc/k8s-controller"
readme = "README.md"
license = "Apache-2.0"
include = ["src/**/*", "LICENSE", "README.md", "CHANGELOG.md"]

[dependencies]
async-trait = "0.1.71"
futures = "0.3.28"
k8s-openapi = { version = "0.19", features = ["v1_24"] }
kube = "0.77"
kube-runtime = "0.77"
rand = "0.8.5"
serde = "1.0.167"
tracing = "0.1.37"

[dev-dependencies]
tokio = "1.29.1"

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docs_rs"]
