[graph]
targets = [
    { triple = "aarch64-apple-darwin" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-unknown-linux-gnu" },
]

[advisories]
version = 2
ignore = [
]

[bans]
multiple-versions = "deny"
skip = [
    { name = "thiserror", version = "1.0.69" },
    { name = "thiserror-impl", version = "1.0.69" },
]

# Use `tracing` instead.
[[bans.deny]]
name = "env_logger"

# We prefer the system's native TLS or OpenSSL to Rustls, since they are more
# mature and more widely used.
[[bans.deny]]
name = "rustls"

[licenses]
version = 2
allow = [
    "Apache-2.0",
    "MIT",
    "Unicode-3.0",
    "Zlib",
]

[sources]
unknown-git = "deny"
unknown-registry = "deny"
